<div *ngFor="let todo of todos$ | async">
  <div class="card mt-1">
    <div class="card-body">
      <div class="row">
        <div class="col-1 my-auto" (click)="onDone(todo!)">
          <i
            [ngClass]="{
              'fa fa-lg': true,
              'fa-circle-thin': !todo!.done,
              'fa-check-circle': todo!.done
            }"
            aria-hidden="true"
          ></i>
        </div>
        <div class="col-9" [routerLink]="['/Todos/' + todo!.id]">
          <label
            for="complete"
            [ngClass]="{ 'form-check-label lead': true, done: todo!.done }"
            >{{ todo!.title }}</label
          >
        </div>
        <div class="col-1 my-auto" (click)="onImportant(todo!)">
          <i
            [ngClass]="{
              'fa fa-lg': true,
              'fa-star-o': !todo!.important,
              'fa-star text-warning': todo!.important
            }"
          ></i>
        </div>
        <div class="col-1 my-auto">
          <span class="fa fa-trash fa-lg" (click)="onDelete(todo!.id)"></span>
        </div>
      </div>
    </div>
  </div>
</div>
